---
---
<!DOCTYPE html>
<html>
  	<head>
		<title>{{ page.title }}</title>
		<meta name="description" content="Modular synthesizer manufacturers, Ireland">
		<meta name="keywords" content="eurorack, 4u, buchla, serge, box emissions, diy, sdiy, panels, pcb's, fully built, kits, documentation,videos">
		<meta charset="utf-8"/>
		<link rel ="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="icon" type="image/png" href="/media/favicon.png">
		<div class="content">
			<div class="jumbotron">
				
		     <h2>{{ page.title }}</h2>
	        </div>

		</head>
</html>		
